* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "jost";
  src: url('fonts/Jost-VariableFont_wght.ttf');
  font-style: normal;
  font-weight: 1 1000;
}

@font-face {
  font-family: "jost";
  src: url('fonts/Jost-Italic-VariableFont_wght.ttf');
  font-style: italic;
  font-weight: 1 1000;
}

:root {
  --main-color: #333;
  --secondary-color: #ccc;
  --highlight-color: #b00b00;
  --highlight-hover-color: #d00d00;
}

html {
  font-size: 62.5%;
  font-weight: 400;
}

body {
  font-family: 'jost', sans-serif;
  font-size: 1.8rem;
  color: var(--main-color);
  line-height: 1.8;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

a {
  color: var(--main-color);
  border-bottom: 2px solid transparent;
  text-decoration: none;
  transition: border .1s ease-in-out;
  border-bottom-color: var(--secondary-color);
}

a:hover {
  border-bottom-color: var(--highlight-hover-color);
  border-width: 4px;
}

a.direct-link {
  position: absolute;
  right: 100%;
  padding-right: 0.5em;
  border: none;
  opacity: 0;
  transition: opacity .2s;
}

h3:hover .direct-link,
h4:hover .direct-link {
  opacity: 0.5;
}

a.direct-link:hover {
  opacity: 1;
}

h1, h2, h3 {
  margin: 1.5em 0 1em 0;
  line-height: 1.2;
  position: relative;
}

h1 a {
  border-bottom-color: transparent;
}

h1 a:hover {
  border-bottom-color: var(--highlight-hover-color);
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.3em;
}

p, ul {
  margin: 1.5em 0;
}

ul {
  margin-left: 2em;
  margin-right: 2em;
}

li {
  margin: 0.8em 0;
}

.wrapper {
  padding: 5vw;
  margin: 0 auto;
  max-width: 80rem;
}

header h1 {
  font-size: 8vw;
  color: var(--secondary-color);
  font-weight: 200;
}

footer {
  font-size: 0.8em;
  margin: 8em 0;
  text-align: center;
}

img.img-block {
  display: block;
  width: 100%;
  height: auto;
}

.tmpl-home ul {
  margin-left: 0;
  margin-right: 0;
}

.tmpl-home li {
  list-style-type: none;
}

@media only screen and (min-width: 1500px) {
  header h1 {
    font-size: 12rem;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.4em;
  }
}

.chaching {
  text-align: center;
}
  
.chaching a {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid var(--main-color);
  padding: 0.5em 2em;
  font-size: 1.2em;
  transition: all .2s;
}

.chaching a:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-hover-color);
  animation: glow 1s infinite ease-in-out;
}

.go-back {
  text-align: center;
  margin: 12rem 0;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 1rem var(--highlight-hover-color);
  }
  50% {
    box-shadow: 0 0 3rem var(--highlight-hover-color);
  }
  100% {
    box-shadow: 0 0 1rem var(--highlight-hover-color);
  }
}