---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h3>Writing</h3>

<ul>
  <li>
    <a href="{{ '/posts/three-types-of-meetings' | url }}">My 3 Meeting System</a> helps keep me sane at work, and might help you, too.
  </li>
  <li>
    <a href="https://unraveling.substack.com/" target="_blank">Unraveling</a> is a blog I write about religious deconstruction.
  </li>
</ul>

<h3>Life Things</h3>

<ul>
  <li>
    I'm nonbinary and use
    <a target="_blank" href="https://pronouns.org/they-them">they/them pronouns</a>.
  <li>
    <a target="_blank" href="https://seaxesofficial.com">Seaxes</a>
    is my band in which I play guitar & sing.
  </li>
  <li>
    I have released music on streaming services from myself, my friends & my kids via
    <a target="_blank" href="https://soappaintrecords.com">Soap Paint Records</a>.
  </li>
  <li>
    <a target="_blank" href="https://www.instagram.com/camerondaigle/">My Instagram</a> is private, but you're welcome to give it a shot.
  </li>
  <li>
    <a target="_blank" href="https://www.twitter.com/camerondaigle/">My Twitter</a> is all retweets; I have taken it upon myself to amplify Tweets I think need to be amplified, but I haven't actually tweeted in years and doing so isn't currently on my roadmap.
  </li>
  <li>
    If you're interested in making a lot of judgements about me really quickly, here's <a href="https://www.last.fm/user/camerondaigle">my Last.fm</a> – I've been scrobbling since 2006, it'd be insane to stop now.
  </li>
  <li>
    You can email me if you like: me at camdaigle dot com.
  </li>
</ul>

<h3>Work Things</h3>

<ul>
  <li>
    I work at <a target="_blank" href="https://reverb.com/">Reverb</a>.
  </li>
  <li>
    <a target="_blank" href="https://www.linkedin.com/in/camerondaigle/">Here's my LinkedIn</a>, empowering you and I to forge a deep, pure bond that will last for generations.
  </li>
</ul>