---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<ul>
  <li>
    You may have come here for my <a href="{{ '/posts/three-types-of-meetings' | url }}">My 3 Meeting System</a>. If so, there ya go.
  </li>
  <li>
    You can email me if you like: me at camdaigle dot com.
  </li>
</ul>
