---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h3>Selected Aspects of My Existence</h3>

<ul>
  <li>
    You may have come here for my <a href="{{ '/posts/three-types-of-meetings' | url }}">My 3 Meeting System</a>. If so, there ya go.
  </li>
  <li>
    <a href="https://unraveling.substack.com/" target="_blank">Unraveling</a> is a blog I write about religious deconstruction. You never know when I might post again.
  </li>
  <li>
    I'm nonbinary and use
    <a target="_blank" href="https://pronouns.org/they-them">they/them pronouns</a>.
  <li>
    I'm in <a target="_blank" href="https://seaxesofficial.com">Seaxes</a>
    and responsible for guitar & vocals.
  </li>
  <li>
    I'm in <a target="_blank" href="https://instagram.com/teethkidsxo">Teeth Kids</a>
    and only responsible for vocals.
  </li>
  <li>
    I have released music on streaming services from myself, my friends & my kids via
    <a target="_blank" href="https://soappaintrecords.com">Soap Paint Records</a>.
  </li>
  <li>
    I have started selling a little art (from both myself and my daughter) at <a target="_blank" href="https://www.daiglestudios.com">Daigle Studios</a>. Sometimes we run a limeade & art stand near the farmer's market.
  </li>
  <li>
    You can find me on <a target="_blank" href="https://bsky.app/profile/camcam.bsky.social">Bluesky</a>.
  </li>
  <li>
    You can email me if you like: me at camdaigle dot com.
  </li>
</ul>
