@import 'reset.scss'

= box-sizing($type: border-box)
  @each $prefix in moz, ms, webkit
    -#{$prefix}-box-sizing: $type
  box-sizing: $type
= border-box
  +box-sizing(border-box)
= max-width($width)
  @media screen and (max-width: #{$width}px)
    @content
= site_width
  max-width: 940px

html
  webkit-text-size-adjust: none

body
  font-family: "proxima-nova-1","proxima-nova-2", arial, sans-serif
  color: #282c2f
  background: #3c4043
  &#home
    background: #3c4043
    header
      padding-top: 160px
      margin-bottom: 30px
      min-width: 400px
      +max-width(480)
        padding-top: 20px
        min-width: 0
      hgroup
        margin-bottom: 20px
      nav
        border: none
        background: none
        ul
          width: 400px
          margin: 0 auto
          overflow: hidden
          display: block
          +max-width(480)
            width: 100%
            +border-box
            padding: 0 20px
          li
            float: left
            width: 25%
            a
              position: relative
              display: block
              background: #eae9e2
              padding: 4px 0
              &:after
                position: absolute
                top: 12%
                right: 0
                height: 80%
                width: 1px
                background: #c3c3bc
                content: ''
              &:hover
                color: #4b7595
header
  text-transform: uppercase
  hgroup
    background: url("/images/bg_header.png") center 40px repeat-x #3c4043
    text-align: center
    a
      display: block
      width: 90%
      margin: 0 auto
      h1
        padding-top: 125px
        font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", arial, sans-serif
        color: #cbc9bc
        font-size: 22px
        font-weight: 100
        line-height: 20px
      h2
        color: #707477
        font-size: 10px
        font-weight: 600
        padding: 0 0 10px 0
    +max-width(480)
      background-position: center 20px
      background-size: 500px auto
      a
        h1
          padding-top: 65px
  nav
    border-bottom: 1px solid #cbc9bc
    line-height: 30px
    background: #eae9e2
    overflow: hidden
    ul
      width: 320px
      margin: 0 auto
      +max-width(480)
        width: 100%
      li
        float: left
        width: 25%
        a
          display: block
          font-size: 10px
          font-weight: 600
          text-align: center
          color: #282c2f
          padding-top: 3px
          &:hover
            color: #4b7595
        &.selected a
          border-bottom: 3px solid #cbc9bc
          &:hover
            color: #282c2f
footer
  width: 100%
  clear: both
  color: #707477
  font-weight: bold
  text-align: center
  font-size: 12px
  text-transform: uppercase
  border-top: 1px solid #cbc9bc
  a
    width: 90%
    margin: 0 auto
    line-height: 26px
    display: block
    font-size: 10px
    font-weight: 600
    text-align: center
    color: #282c2f
    &:hover
      color: #4b7595
  p
    padding: 60px 0 15px 0
    background: #3c4043 url(/images/logo_footer.png) center 20px no-repeat
  span
    font-family: verdana

#content
  background: #eae9e2
  #wrapper
    max-width: 940px
    margin: 0 auto
    padding: 40px 20px 0 20px
    +max-width(640)
      padding: 10px

nav.article_listing
  margin: 0 0 40px 0
  ul
    li
      a
        display: block
        font-size: 16px
        line-height: 16px
        color: #282c2f
        padding: 10px 15px
        &:hover
          background: #e3e2da
        span
          display: block
          color: #707477
          font-size: 10px
          font-weight: bold

section#digital_index,
section#physical_index,
section#about
  img
    box-shadow: 0 0 5px #d5d3c8
    -webkit-box-shadow: 0 0 5px #d5d3c8
  article
    font-size: 12px
    line-height: 16px
    font-weight: 500
    h1, h2
      font-size: 14px
      line-height: 18px
      font-weight: bold
    p
      margin: 0 0 16px 0
      color: #6d7174
    ul
      margin: 0 0 16px 0
      color: #6d7174
      list-style-type: square
      padding: 0 30px
    a
      color: #4b7595
      font-weight: 600
      &:hover
        border-bottom: 1px solid #cbc9bc

section#digital_index
  article
    position: relative
    overflow: hidden
    margin: 0 0 40px 0
    .copy
      float: right
      width: 34%
    .slides
      display: block
      float: left
      width: 64.4%
      max-width: 580px
      img
        max-width: 100%
        cursor: pointer
        + img
          display: none
    +max-width(640)
      margin: 0 0 20px 0
      .slides
        width: 100%
        display: block
        margin: 0 auto
        float: none
      .copy
        float: none
        width: auto
    h1
      padding: 20px 0 0 0
      margin: 0 0 16px 0
    ul
      font-weight: 600
      color: #6d7174
      padding: 0
      list-style-type: none

section#physical_index
  section
    clear: both
    &.three_items
      margin-left: -20px
      article
        width: 33.33%
        padding-left: 20px
    &.two_items
      margin-left: -20px
      article
        width: 50%
        padding-left: 20px
    +max-width(480)
      &.three_items,
      &.two_items
        margin-left: 0
        article
          padding-left: 0
          width: 100%
          text-align: center
          img
            width: auto
            max-width: 100%
            display: inline
  article
    width: 100%
    margin: 0 0 30px 0
    float: left
    +border-box
    img
      margin: 0 0 10px 0
      display: block
      width: 100%
    h1, p
      margin: 0 10px
    &:last-of-type
      margin-right: 0

section#about
  img
    width: 100%
  article
    section
      width: 46%
      padding: 30px 2%
      float: left
      +max-width(640)
        width: auto
        padding: 0 10px
      h1, h2
        padding: 10px 0 16px 0

section#article_index
  width: 400px
  margin: 0 auto
  +max-width(480)
    width: 100%

section#article_show
  article
    margin: 0 0 40px 0
    width: 65%
    float: left
    +max-width(640)
      width: 100%
      padding: 20px 0
      margin: 0
    h1
      font-size: 20px
      color: #282c2f
      font-weight: 600
    h2
      color: #707477
      font-size: 10px
      font-weight: bold
      margin: 0 0 30px 0
    h3, h4
      font-size: 18px
      font-weight: 600
      padding: 20px 0 20px 0
    h4
      font-size: 15px
    p, ul, ol
      font-size: 13px
      line-height: 22px
      margin: 0 0 20px 0
    blockquote
      background: #e3e2da
      padding: 20px 20px 1px 20px
      margin: 0 -10px 20px -10px
      p
        font-size: 18px
        line-height: 24px
    pre
      margin: 0 0 20px 0
      padding: 20px
      background: rgba(255,255,255,.8)
      width: 100%
      overflow-x: auto
      +border-box
    ul
      list-style-type: disc
      padding: 0 40px
    ol
      list-style-type: decimal
      padding: 0 40px
    figure
      font-size: 12px
      line-height: 16px
      font-weight: 600
      color: #6d7174
      margin: 0
      figcaption
        padding: 10px
      img
        max-width: 100%
    a
      color: #4b7595
      &:hover
        border-bottom: 1px solid #cbc9bc
    aside
      margin: 40px -20px 0 -20px
      border-top: 1px solid #cbc9bc
      padding: 20px
      color: #707477
      &.original_version
        margin: 0
        padding: 0
        border: 0
    +max-width(640)
      ul, ol
        padding: 0 20px
      aside
        margin: 20px 0
        padding: 10px 0
  nav.article_listing
    width: 30%
    float: right
    ul
      li
        a
          font-size: 13px
          margin-left: 14px
        &.selected
          a
            padding-left: 29px
            margin-left: 0
            background: #e3e2da url("/images/bg_active_post.png") left center no-repeat
    +max-width(640)
      width: 100%
      float: none
      clear: both
      ul
        li
          a
            margin-left: 0
          &.selected
            a
              padding-left: 15px
              background: #e3e2da























