%header
  %hgroup
    %a(href='/')
      %h1 Cameron Daigle
      %h2 Digital & Physical Design
  %nav
    %ul<
      =nav_item("Digital")
      =nav_item("Physical")
      =nav_item("Articles")
      =nav_item("About")