%head
  %meta(charset="UTF-8")
  %meta(type="description" content="")
  %link(rel='icon' type='image/png' href='/favicon.png')
  %link(href='http://feeds.feedburner.com/camerondaigle' rel='alternate' title='RSS' type='application/rss+xml')
  %title<
    Cameron Daigle
    = ": #{@title}" if @title
  %link(rel="stylesheet" type="text/css" href="/stylesheets/application.css")
  %link(rel="stylesheet" type="text/css" href="/pygments.css")
  %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  %script(type="text/javascript" src="/javascript/application.js")
  %script(type="text/javascript" src="http://use.typekit.com/tyk7hhg.js")
  %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
  :javascript
    try{Typekit.load();}catch(e){}

  -if production?
    :javascript
      var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-308731-1']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
  /[if IE]
    %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript")