---
titleoverride: Hi, I'm Cam.
logos: [reverbtrust, cadence, reverblp, reverb, hashrocket, griffin]
templateClass: tmpl-story
---

{% extends 'layouts/base.njk' %}
{% block headercontent %}
  <h2>
    I’m an experienced design manager with a background in code, analysis, systems, and . I’m a believer in the power of understanding users, empowering designers, and enabling teams.
  </h2>
  <ul class="logo-row">
    {% for s in story %}
      <li>
        <a href="#{{s.slug}}">
          <img class="img-block" src="/img/logos/{{s.slug}}.svg" />
        </a>
      </li>
    {% endfor %}
  </ul>
  <h3>
    I’ve worked with clients and in-house, for startups and established businesses, and in every phase of the design process, from strategy to shipping code.
  </h3>
{% endblock %}

{% block content %}

<!--
<h2>
  Reverb.com
</h2>
<h4>2016-2024</h4>
<p>
  Reverb is a two-sided marketplace where musicians buy & sell music gear. Over my 8-year career there, Reverb grew from a plucky underdog to become the leading online source for used music gear.
</p>
<p>
  I led numerous initiatives & teams during my time at Reverb – here are some of my key contributions:
</p>
-->

{% for s in story %}
  <section class="story" id={{s.slug}}>
    <div class="story__logo">
      <img src="/img/logos/{{s.slug}}.svg" />
    </div>
    <div class="story__main">
      <div class="story__text">
        <h2>{{s.title}}</h2>
        <h3>{{s.company or "Reverb"}}</h3>
        {% for c in s.content %}
          <p>{{ c }}</p>
        {% endfor %}
      </div>
      <div
        class="story__image"
        style="background-image: url(/img/story/{{s.slug}}.jpg)"
      />
    </div>
  </section>
{% endfor %}

{% endblock %}