- @title = @meta['title']

%section#article_show

  %article
    %h1= @meta['title']
    %h2= pretty_date @meta['published']
    - if @meta['original_version']
      %aside.original_version
        %p
          (originally published on The Hashrocket Blog – visit the
          %a{:href => @meta['original_version']} original version
          if you like)
    ~ markypants(@text)
    %aside
      :markdown
        Thanks for reading.

        Comment threads aren't healthy for productive conversation. If you have a correction, feedback, or delicious recipe, email me at <camerondaigle@gmail.com> or AIM me at __camerondaigle__.
  = haml :"articles/_articles"
