- @title = 'Digital'

%section#digital_index

  %article
    .slides(data-slides="3")
      %img(src="http://s3.amazonaws.com/camerondaigle/digital/informant_1.jpg" alt="Screenshot of Informant")
    .copy
      :markdown
        # Informant

        Traditional analytics track traffic, not usability - Informant tells you when your users trigger form errors, so you know where they're getting tripped up. It's the brainchild of myself and [Paul Elliott](https://twitter.com/p_elliott), and is currently a Heroku addon, with many exciting features & additions imminent.

        I'm the cofounder of Informant, LLC, and handle branding and all design, branding, and UI/UX concerns. You should install Informant. Trust me.

        [visit informantapp.com](http://www.informantapp.com)

  %article
    .slides(data-slides="4")
      %img(src="http://s3.amazonaws.com/camerondaigle/digital/hashrocket_1.jpg" alt="Screenshot of Hashrocket")
    .copy
      :markdown
        # Hashrocket

        I am responsible for the third (or fourth) iteration of the Hashrocket site, launched in 2013. The site is fully responsive, and has held up well over the years. I handled design & most photography, as well as copywriting and the majority of the illustration (click through the screenshots for examples).

        [visit Hashrocket.com](http://hashrocket.com)

  %article
    .slides(data-slides="4")
      %img(src="http://s3.amazonaws.com/camerondaigle/digital/hotelinsider_1.jpg" alt="Screenshot of Hotel Insider")
    .copy
      :markdown
        # Hotel Insider

        Hotel Insider is a boutique hotel reservation system catering to more exclusive clientele. Hashrocket was contracted to custom-build the internal administration system, from booking & hotel publishing workflows down to basic content management.

        I worked within the (very nice) Hotel Insider branding guidelines and handled UI/UX, design, HAML, SASS and a chunk or two of Javascript.

  %article
    .slides(data-slides="3")
      %img(src="http://s3.amazonaws.com/camerondaigle/digital/redlambda_1.jpg" alt="Screenshot of Red Lambda")
    .copy
      :markdown
        # Red Lambda

        Red Lambda does complex & mysterious things with big data. Hashrocket built a simple, intuitiave Sinatra & Backbone app to provide a more accessible counterpart to Red Lambda's existing native Java desktop client. I handled UI/UX, design, HAML & SASS.

  %article
    .slides(data-slides="5")
      %img(src="http://s3.amazonaws.com/camerondaigle/digital/fanhub_1.jpg" alt="Screenshot of Fanhub")
    .copy
      :markdown
        # Fanhub

        Fanhub is a CRM tool for medium-sized businesses. Features include a ticket tracking system, sales pipeline, and client/company management all built around a sophisticated "card stack" UI paradigm.

        The desktop web app is complimented by an iPhone app, developed in-house at Hashrocket. I handled branding, design, and UI for all of the above, and also handled a full look & feel update of the web & mobile apps to a flat iOS 7 aesthetic.

  %article
    .slides(data-slides="3")
      %img(src="http://s3.amazonaws.com/camerondaigle/digital/fabrication_1.jpg" alt="Screenshot of Fabricationgem.org")
    .copy
      :markdown
        # Fabrication

        A static documentation site for fellow Rocketeer [Paul Elliott](http://codingfrontier.com) and his Ruby object generation library. I decided to make it possibly the most enthusiastic documentation site ever created, and a few dozen jQuery animations later, we had ourselves an animated infinite assembly line.

        There have been occasional requests to include an 'off' button for the animations, to which we say: the Fabrication machine stops for no man. (And the documentation is mirrored on Github – you can go there for your heavy reading.)

        - [visit fabricationgem.org](http://fabricationgem.org/)

  %article
    .slides(data-slides="4")
      %img(src="http://s3.amazonaws.com/camerondaigle/digital/pilotpool_1.jpg" alt="Screenshot of PilotPool.com")
    .copy
      :markdown

        # PilotPool

        ATP Flight School came to [Hashrocket](http://hashrocket.com) with a tremendously successful education program, thousands of students, and no good way to allow airlines to connect with them.

        PilotPool indexes ATP's student database and provides comprehensive filtering & searching tools for airlines to easily find and contact students that meet their hiring criteria.

        - [visit pilotpool.com](http://pilotpool.com/)

  %article
    .slides(data-slides="3")
      %img(src="http://s3.amazonaws.com/camerondaigle/digital/italk_1.jpg" alt="Screenshot of iTalk")
    .copy
      :markdown

        # iTalk

        Designed during my time at [Griffin Technology](http://griffintechnology.com), iTalk predated Apple's own Voice Memos app and continued to sell well even after its release.

        Since then, the good people at Griffin have updated my original design with retina graphics, and iTalk continues to thrive, with 1.7 million units sold as of 2010 (the last time I was privy to such numbers).

        - [get iTalk at the App Store](http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=296271871&mt=8)

  %article
    .slides(data-slides="3")
      %img(src="http://s3.amazonaws.com/camerondaigle/digital/itrip_1.jpg" alt="Screenshot of iTrip Controller")
    .copy
      :markdown
        # iTrip Controller

        The app component to go along with Griffin's flagship iTrip accessory. One of the first Griffin apps to take advantage of Apple's brand new (at the time) accessory-to-app communication API.

        Features a fully-custom UI with an iPod-like tuning wheel as primary control mechanism.

  %article
    .slides(data-slides="2")
      %img(src="http://s3.amazonaws.com/camerondaigle/digital/italksync_1.jpg" alt="Screenshot of italksync.com")
    .copy
      :markdown

        # italksync.com

        A microsite for iTalk that's still around today. I handled design, development, and copywriting.

        - [visit italksync.com](http://italksync.com/)

  %article
    .slides(data-slides="4")
      %img(src="http://s3.amazonaws.com/camerondaigle/digital/griffinsite_1.jpg" alt="Screenshot of griffintechnology.com")
    .copy
      :markdown

        # griffintechnology.com

        From 2006 to early 2010, I handled the design, frontend development, and content management of Griffin's company website.

        In late 2007, we launched a new site built in Ruby on Rails. In 2009, I refreshed the look. In early 2010, we undertook a complete rebranding of the company, and the website followed suit.

        Griffin, always a growing company, recently launched in a new format separating the store and the product catalog.

        - (no longer online)
