- @title = 'Digital'

%section#digital_index

  %article
    %img(src="http://s3.amazonaws.com/camerondaigle/digital/pilotpool_1.jpg" alt="Screenshot of PilotPool.com")
    :markdown

      # PilotPool

      ATP Flight School came to [Hashrocket](http://hashrocket.com) with a tremendously successful education program, thousands of students, and no good way to allow airlines to connect with them.

      PilotPool indexes ATP's student database and provides comprehensive filtering & searching tools for airlines to easily find and contact students that meet their hiring criteria.

      - [visit pilotpool.com](http://pilotpool.com/)

  %article
    %img(src="http://s3.amazonaws.com/camerondaigle/digital/italk_1.jpg" alt="Screenshot of iTalk")
    :markdown

      # iTalk

      Designed during my time at [Griffin Technology](http://griffintechnology.com), iTalk predated Apple's own Voice Memos app and continued to sell well even after its release.

      Since then, the good people at Griffin have updated my original design with retina graphics, and iTalk continues to thrive, with 1.7 million units sold as of a year ago (the last time I was privy to such numbers).

      - [get iTalk at the App Store](http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=296271871&mt=8)

  %article
    %img(src="http://s3.amazonaws.com/camerondaigle/digital/italksync_1.jpg" alt="Screenshot of italksync.com")
    :markdown

      # italksync.com

      A microsite for iTalk that's still around today. I handled design, development, and copywriting.
      
      - [visit italksync.com](http://italksync.com/)

  %article
    %img(src="http://s3.amazonaws.com/camerondaigle/digital/musicrowtosoho_1.jpg" alt="Screenshot of musicrowtosoho.com")
    :markdown

      # Music Row to SoHo

      A fun microsite to introduce Griffin Technology to the UK press. We collaborated with [Hatch Show Print](http://www.countrymusichalloffame.com/site/experience-hatch.aspx) to present an authentically Nashville look.

      My part in the project was to design & build the accompanying web-based press kit. I dipped into the fantastic set of authentic Hatch alphabets and illustrations put together by our team to create a visually rich site.

      - [visit musicrowtosoho.com](http://musicrowtosoho.com/)    
        (still online somehow, 2 years later)

  %article
    %img(src="http://s3.amazonaws.com/camerondaigle/digital/griffinsite_1.jpg" alt="Screenshot of griffintechnology.com")
    :markdown

      # griffintechnology.com

      From 2006 to early 2010, I handled the design, frontend development, and content management of Griffin's company website.

      In late 2007, we launched a new site built in Ruby on Rails. In 2009, I refreshed the look. In early 2010, we undertook a complete rebranding of the company, and the website followed suit.

      Griffin, always a growing company, recently launched in a new format separating the store and the product catalog.

      - (no longer online)