%ul.social
  %li.twitter
    %a(href="http://twitter.com/camerondaigle") Twitter
  %li.facebook
    %a(href="http://www.facebook.com/camerondaigle") Facebook
  %li.dribbble
    %a(href="http://dribbble.com/cameron") Dribbble
