%section#about

  %img(src="/images/about.jpg")

  %article

    %section

      :markdown

        # About Cameron Daigle

        I'm the creative director at [Hashrocket](http://hashrocket.com) in sunny Jacksonville, Florida.

        Our design team works alongside a crack team of Ruby on Rails developers who specialize in [TDD](http://en.wikipedia.org/wiki/Test-driven_development) and [Agile](http://en.wikipedia.org/wiki/Agile_software_development). We specialize in matching their agile backend development with equally agile design and frontend development.

        I specialize in encouraging and honing clients’ ideas and goals – and then putting them into motion.

        ## Social bits

        I post photography at [This Town Will Eat You](http://thistownwilleatyou.tumblr.com). I occasionally post design snippets to [Dribbble](http://dribbble.com/cameron). I track my music-listening habits at [Last FM](http://www.last.fm/user/camerondaigle). I write code on [Github](http://github.com/camerond). I review food on [Yelp](http://camerondaigle.yelp.com). I'm camerondaigle in most other social media contexts, in case you haven't gathered that already.

        ## Contacting me

        In an attempt to encourage thoughtful and productive dialogue, I don't have comments on my site, and instead welcome you to get in touch. You can chat me on AIM as __camerondaigle__, follow me on Twitter at [@camerondaigle](http://twitter.com/camerondaigle), or email me at <camerondaigle@gmail.com>.

    %section

      :markdown

        # Other Projects

        I have a couple of tiny jQuery plugins that sprouted out of some project needs:

        - [jQuery.minical](http://jquery-minical.heroku.com), an lightweight datepicker
        - [jQuery.graphie](http://jquery-graphie.heroku.com), a lightweight graphing library

        I'm responsible for the waste of figurative space that is [text-align: centaur](http://textaligncentaur.com/).

        # For Your Knowledge & Benefit

        I feel that I should clarify something that Google may attempt to obfuscate: while my name is fairly unique and Googleable, there are a couple of other Cameron Daigles in the world.

        For the record, I do not write poetry online, nor do I post YouTube videos of my George W. Bush impressions. Lastly, if you happen upon a video of Cameron Daigle getting hit in the face by an exercise machine, that is also not me. Thank you for your time.
