- @title = 'About'

%section#about

  %img(src="/images/about.jpg" alt="About Cameron Daigle")

  %article

    %section

      :markdown

        # About Cameron Daigle

        I'm the creative director at [Hashrocket](http://hashrocket.com) in sunny Jacksonville, Florida. I have a wife and son whom I love with all of my heart. I once reclined on a concrete rhinoceros somewhere near a Dakota.

        I grew up loving code -- hex-editing Tony Hawk mods on my homebuilt PC, running various Tripod sites, writing games on my calculator -- and after a couple of years chasing a computer engineering degree, I discovered an even greater love for pixels. I enjoy living in the overlap between code and design and discovering how to help each serve the other.

        Our design team at Hashrocket works alongside a crack team of Ruby on Rails and iOS developers who practice [TDD](http://en.wikipedia.org/wiki/Test-driven_development) and [Agile](http://en.wikipedia.org/wiki/Agile_software_development). We take pride in matching their agile backend development with equally agile design and frontend development.

        I specialize in encouraging and honing clients’ ideas and goals – and then putting them into motion.

        ## Contacting me

        In an attempt to encourage thoughtful and productive dialogue, I don't have comments on my site, and instead welcome you to get in touch. You can chat me on AIM as __camerondaigle__, follow me on Twitter at [@camerondaigle](http://twitter.com/camerondaigle), or email/gchat me at <camerondaigle@gmail.com>.

    %section

      :markdown

        # Other Projects

        I lovingly post photography at [This Town Will Eat You](http://thistownwilleatyou.tumblr.com).

        I am the author & maintainer of some open-source projects:

        - [Stagehand.js](http://camerond.github.io/stagehand), a tool for simulating interface states without writing Javascript
        - [jQuery.minical](http://minical.camerondaigle.com), an lightweight datepicker
        - [Phil](https://github.com/camerond/phil), a Ruby gem for convenient markup generation & randomization

        I'm responsible for the waste of figurative space that is [text-align: centaur](http://textaligncentaur.com/).

        ## Social bits

        - I write code on [Github](http://github.com/camerond)
        - I post design snippets to [Dribbble](http://dribbble.com/cameron)
        - I track my music-listening habits at [Last FM](http://www.last.fm/user/camerondaigle)
        - I take pictures with my telephone and put them on [Instagram](http://instagram.com/camerondaigle)
        - I am "Elite" on [Yelp](http://camerondaigle.yelp.com) for some reason or another
