%section#about

  %img(src="/images/about.jpg")

  %article
    :markdown

      # About Cameron Daigle

      I live in Jacksonville Beach, Florida and work at [Hashrocket](http://hashrocket.com).

      Our design team works alongside a crack team of Ruby on Rails developers who specialize in [TDD](http://en.wikipedia.org/wiki/Test-driven_development) and [Agile](http://en.wikipedia.org/wiki/Agile_software_development). We specialize in matching their agile backend development with equally agile design and frontend development.

      I specialize in encouraging and honing clients’ ideas and goals – and then putting them into motion.
      
      #Contacting me
      
      In an attempt to encourage thoughtful and productive dialogue, I don't have comments on my site, and instead welcome you to get in touch. You can chat me on AIM as __camerondaigle__, follow me on Twitter at [@camerondaigle](http://twitter.com/camerondaigle), or email me at <me@camerondaigle.com>.


  %article.disclaimer
    :markdown

      # Other Presences

      When I read something interesting, I post it at [LLLLinks](http://llllinks.tumblr.com). I post iPhone photos and webjunk at [Camblr](http://camerondaigle.tumblr.com). I post photos on [Flickr](http://flickr.com/photos/camerondaigle), tease new design bits on [Dribbble](http://dribbble.com/cameron), and track my music at [Last FM](http://www.last.fm/user/camerondaigle).
      
      # For Your Knowledge & Benefit

      I feel that I should clarify something that Google may attempt to obfuscate: while my name is fairly unique and Googleable, there are a couple of other Cameron Daigles in the world.

      For the record, I do not write poetry online, nor do I post YouTube videos of my George W. Bush impressions. Lastly, if you happen upon a video of Cameron Daigle getting hit in the face by an exercise machine, that is also not me. Thank you for your time.
