%html
  = haml :"/layouts/_head"
  %body#home
    %header
      %hgroup
        %a(href='/')
          %h1 The Url You Visited
          %h2 Is So Not Found
      %nav
        %ul<
          =nav_item("Digital")
          =nav_item("Physical")
          =nav_item("Articles")
          =nav_item("About")
