%section#physical_index
  %section
    %article
      %img(src="http://s3.amazonaws.com/camerondaigle/physical/olive.jpg")
      %p 11x17 print for my wife on for Christmas. (Her maiden name is Olive.)
    %article
      %img(src="http://s3.amazonaws.com/camerondaigle/physical/hshrckt.jpg")
      %p 11x17 print for Hashrocket.
    %article
      %img(src="http://s3.amazonaws.com/camerondaigle/physical/hashrockets.jpg")
      %p Another 11x17 print for Hashrocket.
  %section
    %article
      %img(src="http://s3.amazonaws.com/camerondaigle/physical/fox.jpg")
      %p Set of 3 prints for my newborn son's room.
    %article
      %img(src="http://s3.amazonaws.com/camerondaigle/physical/octopus.jpg")
    %article
      %img(src="http://s3.amazonaws.com/camerondaigle/physical/penguin.jpg")
  %section.two_items
    %article
      %img(src="http://s3.amazonaws.com/camerondaigle/physical/magichammer.jpg")
      %p
        Treatment for
        %a(href="http://www.magichammermusic.com/") Magic Hammer Music
    %article
      %img(src="http://s3.amazonaws.com/camerondaigle/physical/rde.jpg")
      %p
        Treatment for 
        %a(href="http://rainbowdragoneyes.tumblr.com/") Rainbowdragoneyes
